.block-side-nav-container .block-title{
	background-color:#6ccBE2;
}

.block .block-title{
	background-color:#8AC42F;
}

.nav-inner {
    background-color: #8ac42f;
}


body{
	background-color:#fff;
}

.footer {
	background: none;
	border: none;
}

.main{
	background:none;
	border: none;
}

.menu_bottom {
	background:none;
	border: none;
}



