@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype'),
    	 url('OpenSans-Light.ttf') format('truetype'),
    	 url('OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'baskvl';
    src: url('baskvl.ttf') format('truetype');
}

@font-face {
    font-family:'footlight';
    src: url('footlight-mt-light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype'),
    	 url('Roboto-Light.ttf') format('truetype'),
    	 url('Roboto-Bold.ttf') format('truetype'),
    	 url('OpenSans-Semibold.ttf') format('truetype');

}



@font-face {
    font-family: 'CHUNK_FIVE';
    src: url('fonts/CHUNK FIVE PRINT_0.TTF') format('truetype');
}
@font-face {
    font-family: 'CHUNK_FIVE_REG';
    src: url('fonts/Chunkfive.otf');
}

@font-face {
    font-family: 'GEOSANSLIGHT';
    src: url('fonts/GEOSANSLIGHT-OBLIQUE_0.TTF') format('truetype');
}
@font-face {
    font-family: 'GEOSANSLIGHT_0';
    src: url('fonts/GEOSANSLIGHT_0.TTF') format('truetype');
}

@font-face {
    font-family:'Roboto-Regular';
    src: url('Roboto-Regular.ttf') format('truetype');
}


@font-face {
    font-family:'Roboto-Light';
    src: url('Roboto-Light.ttf') format('truetype');
}


@font-face {
    font-family:'Roboto-Bold';
    src: url('Roboto-Bold.ttf') format('truetype');
}


body{
 background-color:#fffddb  !important;
}
ul,li,ol{
	list-style-type: none;
}
.color_yellow{ color:#f9ea77 !important;}
.color_red{ color:#b90004 !important;}

/***************************** Header *****************************************/
a:hover{
	text-decoration: none;
}
.owl-carousel{
	padding: 20px 80px !important;
}

.header{
	background-color: #b90004;
	background-image: url('images/header-bg.png');
	height: 120px;
   
}

.logo{
	display: block;
	margin-top: 10px;
}


.navbar-toggle {
    background-color: #fff !important;
 }
 
.navbar-toggle .icon-bar {
	background: none repeat scroll 0 0 #000;
}


.header_nav{
    min-height: 120px;
    margin-bottom:0px;
}

 .nav{
 	  margin-right: 114px;
 }

 .nav li:hover a{
 	background-color: #fff185;
 	/*background-image: url('images/blog.png');*/
 	height: 120px;
 	color:red !important;
 }

 .nav li a:hover{
 	color:red !important;
 }
 

 .nav li a{
 	color: #fffe97 !important;
 	/*font-family: GEOSANSLIGHT;*/
 	font-family: GEOSANSLIGHT_0;
	font-weight: 400;
	font-weight: normal !important;
	font-size: 18px;
	padding-top: 50px;
	padding-left: 15px;
    padding-right: 15px;
}
 
 .nav li ul{
	  z-index: 99;
	  position: absolute;
	  width: 200px;
	  background-color: #b90004;
	  padding: 0px 0px 0px 0px;
	  margin: 0px 0px 0px 0px;
	  background-color: #b60004 !important;
	  color: #f9ea77 !important;
	  top: 119px;
	  display: none;

 }
 .nav li:hover ul{
 	display: block;
 }
 .nav li ul li {
 	display: block;
 	padding: 5px 10px;
 }
 .nav li ul li a{
 	padding: 0px;

 }
 .nav li:hover ul li a{
 	background-color: #b60004 !important;
	color: #f9ea77 !important;
 	background-image: inherit;
 	height: 120px;
 

 }
  .nav li:hover ul li:hover{
  	background-color: #f9ea77;
  }
 .nav li:hover ul li:hover a{
 	background-color: red;
 	background-image: url('images/blog.png');
 	height: 120px;
 	color:red !important;
 	text-decoration: none;
 }

.nav li.current-menu-parent a,.nav li.current-menu-item a{
	 background-color: #fff185;
	/*background-image: url('images/blog.png');*/
	height: 120px;
	color:red !important;
}

.nav li:last-child{
	/*max-width: 120px;*/
	background-color: #fff185; !important;
	color: #b70004 !important;
	border-radius: 20px;
	margin: 24px 0px 10px;
	width: 123px !important;
}
 .nav li:last-child a{
 	color: #b70004 !important;
 	padding: 12px 20px !important;
 	font-size: 12px !important;
 	font-weight: bold !important;
 	width: 123px !important;
 }
 .nav li:last-child:hover{
 	background-color: #f4e575 !important;
 	padding-top: 0px !important;
 	padding-bottom: 0px !important;
 	border-radius: 20px !important;
 }
 .nav li:last-child a:hover,.nav li:last-child:hover a{
 	background-color: #f4e575 !important;
 	color: #b70004 !important;
 	padding-top: 12px !important;
 	padding-bottom: 12px !important;
 	height: auto;
 	border-radius: 20px !important;
 
 }


 .nav li ul li:last-child{
 	  max-width: inherit;
 	  width: 100%;
	  background-color: #b80004 !important;
	  color: #f8e977 !important;
	  border-radius: 0px !important;
	  padding: 5px 10px !important;
	  margin: 0px 0px 0px !important;
 }
  .nav li ul li:last-child a{
  	color: #f8e977 !important;
  	padding: 0px !important;
  	font-size: 18px !important;
  	font-weight: normal; !important;
  }
  .nav li ul li:last-child:hover{
  	background-color: #f8e977 !important;
  	padding: 5px 10px !important;
  	border-radius: 0px !important;
  }
  .nav li ul li:last-child a:hover,.nav li ul li:last-child:hover a{
  	background-color: #f8e977 !important;
  	color: #b80004 !important;
  	padding-top: 0px !important;
  	padding-bottom: 0px !important;
  	height: 120px !important;
  	border-radius: 0px !important;
  
  }
/************************************* Owl SLider **************************/


	.bl{
		background-image: url('images/carousel-bg.png');
		padding: 50px;
	}


	.bl_categories a{
		  	background-image: url(http://losangelesmusicteachers.com/wp-content/themes/Ric-project/images/bg_img_slider_color.png);

		  	background-repeat: no-repeat;
		  	background-size: 100%;
		  	background-repeat: no-repeat;
		  	color: #fffe97;
		  	display: block;
		  	font-family: openSans;
		  	font-size: 22px;
		  	max-width: 200px;
		  	padding: 5px;
		  	text-align: center;
		  	height: 184px;
		  	-webkit-box-shadow: 0 8px 6px -6px black;
		  	-moz-box-shadow: 0 8px 6px -6px black;
		  	box-shadow: 0 8px 6px -6px black;
	}

	.pb_prev{
	    left: 68px;
	    position: absolute;
	    top: 123px;
	    z-index: 9999;
	    background: none;
	    border: none;
	 }












	.pb_next{
      right: 68px;
	  position: absolute;
	  top: 123px;
	  z-index: 9999;
	  background: none;
	  	border: none;
	 }



/*.flexslider .slides > li {
    display: block !important;
}

.flexslider{
	border: none !important;
}
*/



	.flexslider {
  		margin: 0 0 20px !important;
  	}

	.flex-control-nav {
	    bottom: 0 !important;
	}

	.slides{
		margin: 0;
		padding: 0;
	}

	 .about_us{
	 	background-image: url('images/about-us.png');
		height: 72px;
		/*margin-top: 10px;*/
		
	 }

	 .about_us h2{
		 color: #fffe97;
	    font-family: baskvl;
	    font-size: 36px;
	    font-weight: 700;
	    margin-top: 12px;
	    text-align: center;
	 }

	 .about_data{
	    background-image: url("images/home-page.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    color: #fffe97;
	    font-family: Roboto;
	    font-size: 36px;
	    font-weight: 700;
	    height: 280px;
	    margin-top: 15px;
	    text-align: center;
	    max-width: 260px;
	    margin: 0 auto;
	 }
	 .about_data .t_span{
	 	font-size: 14px;
	 }

	 .about_data img{
	     padding: 7px 7px;
		 display: block;
		 height: 175px;
		 margin: 0 auto;
	}
	 

	 .about_data h2{
		font-family: Roboto;
		font-size: 28px;	 		
		font-weight: 700;
		color: #fffe97;
		text-align: center;
		margin-top: 0px;
		margin-bottom: -20px;
	 }
	 .about_data h2{
	 	margin-top: 10px !important;
	 }

	  .about_data h2 a{
		font-family: Roboto;
		font-size: 24px;	 		
		font-weight: 700;
		color: #fffe97;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	 }
	
	/*********************** Blog Post ***************/

	.blog_heading h1{
		color: #E9383C;
		/*font-family:CHUNK_FIVE;*/
		padding-top: 20px;
		font-size: 27px;
		font-family: footlight !important;
	}

	.blog_heading h2{
		color: #b90004;
		font-family: CHUNK_FIVE_REG;
		  padding: 0px;
		  margin-top: 10px;
		  font-size: 42px;
	}

	.post-date{
		background-image: url("images/date-bg.png");
	    height: 92px;
	    max-width: 80px;
	    text-align: center;
	    width: 100%;
	}

	.date{
		font-family:OpenSans;
		font-weight: 500;
		font-size:32px;
		color: #ca060b;
		text-align: center;
		padding-top: 15px;
	}

	.month{
		/*font-family:OpenSans;
		font-weight: 500;
		font-size: 18px;
		color: #ca060b;
		text-align: center;*/
		font-family: OpenSans;
		font-weight: 500;
		font-size: 18px;
		color: #ca060b;
		text-align: center;
		margin-top: 18px;

	}


	.blog_post{
		margin-bottom: 85px;
	}
	.post-image{
		max-width: 450px;
		width: 100%
	}

	.post-title{
		color: #ca060b;
	    font-family: GEOSANSLIGHT_0;
	    font-size: 30px;
	    margin-bottom: 10px;
	    margin-top: 5px;
	}

	.post-meta{
		font-family:OpenSans;
		font-weight: 500;
		font-size: 16px;
		color: #f5d439;
	}

	.post-description{
		/*font-family:OpenSans;*/
		font-weight: 500;
		font-size: 16px;
		color: #565454;
		margin-bottom: 30px;
		margin-top: 0 !important;
		text-align: justify;
	}

	.readmore,.readmore:hover{
		background-color: #ca060a;
	    color: #fffe97;
	    display: inline-block;
	    font-family: OpenSans;
	    font-size: 18px;
	    font-weight: 500;
	  /*  margin-top: 20px;*/
	    padding: 8px 33px;
	    text-decoration: none;
	    text-decoration: none;
	}



	/******************* Newsletter *******************/

	  .newsletter{
		/*background-image: url('images/newsletter-bg.png');*/
		background-color:#585858;
		height: 180px;
		text-align: center;
		margin-bottom: 1px;
		  padding-bottom: 5px;
	  }

	  .newsletter form{
	  	max-width: 565px !important;
	  	margin:0 auto !important;
	  }

	  .newsletter-email{
	  	background: transparent;
	  	border:1px solid  #fffe97 !important;
	  	padding: 9px 12px;
	  	max-width: 430px;
	  	width: 100%;
	  	margin-right: 10px;
	  	float: left;
	  	color: #E7DADA;
	  }

	  .newsletter input[type="submit"]{
	  	background-color: #c4040c;
	  	border:none;
	  	color: #fff;
	  	padding: 10px 12px;
	  	max-width: 120px;
	  	width: 100%;
	  	float: left;
	  }

	  .newsletter h2{
	  	  color: #ffffff;
		  font-family: Roboto;
		  font-weight: 600;
		  font-size: 32px;
		  margin-bottom: 20px;
	  }
		
		/*********************************** Contact Form *********************/


		.contact{
			background-image: url('images/contact.png');
			height: 400px;
			margin-bottom: 1px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.contact-form{
			max-width: 750px;
			margin:0 auto;
			width: 100%;

		}

		.contact-title{
			  text-align: center;
			  color: #fffe97;
			  font-family: CHUNK_FIVE_REG;
			  font-size: 32px;
			  font-weight: 400;
		}

		.contact-form textarea {
		    margin: 0 auto;
		    width: 96%;
		}

		.contact-submit,.contact-submit:hover{
			float: right;
			background-color: #54c32b;
			color: #ffffff;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border: none;
		}

		.input-bg{
	
			background-color: #fffe97;
		    color: #000000;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border: none;
			box-shadow: none;
		}

		.input-slide-bg{
			background: #000;
			border: 1px solid #393939;
		}

		.contact-slide-submit{
			float: right;
			background-color: #54C32B;
			border-top: 2px solid #fff;
			min-width: 120px;
			margin-right: 15px;

		}

		.social-image{
			margin:0;
			padding: 0;
		}
		.social-image li{
			float: left;
			margin-right: 10px;
		}
		

		/*********************************** Teacher Page*********************/
      .cross{
      	float: right;
      }
      .cross a{
      	  color: #fff;
      	  font-size: 20px;
      	  font-weight: 700;
      }
.wp-newsfw-list{
	list-style-image: url('images/li_arrow.png') !important;
	padding: 0px 20px;
}
.wp-newsfw-list li{
	margin: 15px 10px 15px 0px;
}
.wp-newsfw-list li a{
	color: #474747;
	padding: 10px 0px 0px 10px;
	font-size: 12px;
	font-weight: 700;
}
.wp-newsfw-list li time{
	font-size: 10px;
	color: #b90004;
}
		.teacher_content {
  max-width: 900px;
  background-color: #fff185;
  width: 100%;
  margin: -28px auto 0px;
  padding: 20px;
  position: relative;
  border: 1px solid #ca060b;
  box-shadow: 0px -1px 6px -1px #fff;
margin-bottom:3px;
}


		/*.teacher_image{
			 float: left;
    		 margin-right: 20px;
    		 width: 20%;
		}

		.des{
			float: right;
			width: 75%;
		}
*/
		.comment_form input[type="text"],.comment_form textarea{
			background-color: #CDBE47 !important;
			border: none !important;
			padding: 5px;
		}
		

		.comment-submit,.comment-submit:hover{
			background-color: #CDBE47 !important;
			color: #000000;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border: none;
		}


		/******************** footer **************/

		.footer_bottom{
			background-image: url('images/footer-bg.png');
			height: 85px;
			padding-top: 30px;
		}

		.copyright-left{
			color: #fff;
			/*font-family: OpenSans;*/
			  font-size: 14px;
  			padding-top: 8px;
  			float: left;		
  		}

		.copyright-left span{
			color: #fffe97;
		}
		.copyright-right{
			color: #fff;
			/*font-family: OpenSans;*/
			  font-size: 14px;
  			padding-top: 8px;
  			float: right;		
  		}

		.copyright-right span,.copyright-right span a{
			color: #fffe97;
		}
		
		.team_member li{
			float: left;
			margin-right: 20px;
		}
		.teacher_img{
			max-width: 175px;
		}

		.content p{
			  /* font-family: OpenSans; */
			  font-weight: 400px;
			  font-size: 15px;
			  padding-bottom: 0px;
			  width: 84%;
			  line-height: 20px;
			}


		.teacher-name{
			color: #ca060b;
			font-family: openSans;
			font-size: 26px;
		}

		.teacher-meta{
			color: #000000;
			font-family: OpenSans;
			font-weight: 500px;
			font-size: 16px;

		}

		.teacher-des{
			color:#242323;
			font-family: OpenSans;
			font-weight: 500px;
			font-size: 16px;
		}

		.teaching-system{
			color:#ca060b;
			font-family: CHUNK_FIVE;
			font-size: 18px;
			font-weight: 400px;
		}

		.follow{
			color:#ca060b;
			font-family: openSans;
			font-size: 18px;
			font-weight: 400px;
		}

		.rating{
			color:#000000;
			font-family: OpenSans;
			font-weight: 700px;
			font-size: 18px;
		}


		.comment-name,.comment-message{
			color:#ffffff;
			font-family: OpenSans;
			font-weight: 400px;
			font-size: 16px;
		}

		/*iframe{
			max-width: 100%;
		}*/

		.nomargin{
			margin-left: 0px;
			margin-right: 0px;
		}


				.team > h2{
			color:#ca060b;
			font-family: OpenSans;
			font-weight: 400px;
			font-size: 35px;
		}


		.team .team-des{
			font-family: openSans;
			font-weight: 400;
			font-size:16px;
			color:#807f7f;
		}

		.member_img{
			border: 5px solid #cfcfcf;
  			padding: 5px;
  			border-radius: 100%;
		}

		.member_name{
			font-family: openSans;
			font-weight: 500;
			font-size:28px;
			color: #807f7f
		}

		.member_post{
			color: #b90004;
			font-family: openSans;
			font-weight: 600;
			font-size:18px;
		}

		.sidebar_header{
			background-image: url('images/sidebar-header.png');
			color:#fffe82;
			font-family: CHUNK_FIVE_REG;
			font-size: 30px;
			font-weight: 400px;
			text-align: center;
			padding: 5px 10px;
		}

		.contact-us{
			color: #b90004;
			font-family: CHUNK_FIVE_REG;
			font-size: 28px;
			font-weight: 400px;
		}

		.sidebar_list{
			margin-top: 20px;
		}
		.sidebar_list li{
			list-style-image: url('images/list.png');
			margin-bottom: 10px;

		}

		.sidebar_list li a{
			font-family: openSans;
			font-weight: 600;
			font-size:15px;
			color: #000;
		}

		.sidebar_list li a span{
			color:#ca060b;
			font-family: openSans;
			font-weight: 600;
			font-size:10px;
		}

		.jazz_lesson {
			color:#b90004;
			font-size: 35px;
			font-family: CHUNK_FIVE;
			font-weight: 400;
		}

		.jazz_ins{
			color:#b90004;
			font-family: CHUNK_FIVE;
			font-size: 30px;
			font-weight: 400;
		}

		.jazz_meta{
			font-family: openSans;
			color:#b90004;
			font-size: 26px;
		}

		.jaz_block{
			display: inline-block;
			background-color:#b90004;
			padding: 5px 12px;
			color: #db070b;
			font-size: 18px;
			font-family: CHUNK_FIVE;
		}

		.team{
			margin-bottom: 30px;
		}

		.lessson{
			color:#b90004;
			font-size: 26px;
			font-family: openSans;
			font-weight: 400px;
		}

		.guitar{
			color: #b90004;
			font-family: CHUNK_FIVE_REG;
			font-weight: 400px;
			font-size: 28px;
		}

		.overview{
			color: #b90004;
			font-family: CHUNK_FIVE_REG;
			font-weight: 400px;
			font-size: 22px;
		}

		.gdes{
			color:#5e5e5e;
			font-family: openSans;
			font-weight: 400;
			font-size: 14px;
		}


		/*@media(max-width: 1200px){

			.pb_next{
			  left: 1010px;
			}
		}

		@media(max-width: 992px){

			.pb_next{
			  left: 797px;
			}
		}


		@media(max-width: 992px){

			.pb_prev{
				left: 0px;
			}
			.pb_next{
			 left: 694px;
			}
		}*/


		.mycarousel{
			position: relative;
		}

		.guitar-img{
			  max-width: 800px;
  			  width: 100%;
		}

		.contact-des{
			font-family: openSans;
			font-size: 14px;
			font-weight: 400px;
			color: #807f7f;
			text-align: center;
		}

		img{
			max-width: 100%;
		}


	/*	#respond{
		    background-image: url("images/contact.png");
		    height: 500px;
		    margin-bottom: 10px;
		    padding-bottom: 10px;
		    padding-top: 10px;
		     overflow: hidden;
		}

		#commentform{
			margin:0 auto;
			max-width: 400px;
		}*/

		.newsletter {
			height: auto;
			padding-bottom: 20px;

		}

       .slider_div{position: relative;}
       .text_top_slider{
       	position: absolute;
       	top: 12%;
       	right: 0px;
       	z-index: 30;
       	text-align: right;
       	padding: 0px;
       }
       .text_top_slider h2{
           background-color: rgba(0, 0, 0, 0.7);
	       font-size: 53px;
	       font-family: CHUNK_FIVE;
	       color: rgb(255, 255, 255);
	       text-transform: uppercase;
	       line-height: 0.453;
	       text-align: right;
	       text-shadow: 0px 2px 2px rgba(0, 1, 1, 0.79);
	       padding: 20px 20px;
	       -moz-transform: matrix( 0.85819521178637,0,0,0.86153846153846,0,0);
	       -webkit-transform: matrix( 0.85819521178637,0,0,0.86153846153846,0,0);
	       -ms-transform: matrix( 0.85819521178637,0,0,0.86153846153846,0,0);
	       margin: 0px;
	       border: 1px solid rgba(249,234,119,0.7);
	       text-align: right;
		  margin-right: -34px;


       }

		.slide-contact-form{

			background-color: rgba(0, 0, 0, 0.7);
			/*opacity: .7;*/
			position: absolute;
		    right: 0;
		    bottom: 0px;
		    max-width: 473px;
		    padding: 10px;
		    z-index: 20;
		
		  
		    border: 1px solid #aa8f53;
		    
			margin-bottom: 10px;
		}

		.slides > li {
			
			position: relative;

		}


		
		.slide_form_right{
			margin-left: 10px;
		}

		.pagination {
			clear:both;
			padding:20px 0;
			position:relative;
			font-size:11px;
			line-height:13px;
			float: right !important;
		}

		.pagination span, .pagination a {
			display:block;
			float:left;
			margin: 2px 2px 2px 0;
			padding:6px 9px 5px 9px;
			text-decoration:none;
			width:auto;
			color:#fff;
			background: #555;
		}

		.pagination a:hover{
			color:#fff;
			background-color: #ca060a;
		}

		.pagination .current{
			padding:6px 9px 5px 9px;
			background-color: #ca060a;
			color:#fff;
		}

		.blog_post{
			margin-top: 15px;
		}

		#respond textarea{
			width: 550px;
		}

		#respond input[type="submit"]{
			  padding: 8px 23px;
			  background-color: #C9060B;
			  border: 1px solid #C9060B;
			  color: #fff;
}

		}



/*

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 768px) {
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}		

       #respond textarea{
	  width: 300px;
       }
}

@media screen and (max-width: 480px) {
		
       #respond textarea{
	  width: 300px;
       }
}

@media screen and (max-width: 300px) {
		
       #respond textarea{
	  width: 300px;
       }
}

.slicknav_menu {
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 5px;
}*/






.container2{
	/*padding: 14px 149px;*/
	width: 80% !important;
  margin: 0 auto;
  margin-top: 20px;
}

.owl-wrapper{
	padding-top: 30px;
	background-color: #fff185;
	width: 90%;
	padding-bottom: 30px;
	padding-left: 20px;
}







.home_paragraph{
	  /*font-family: OpenSans;*/
	  font-size: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 86% !important;
  text-align: justify;
  line-height: 20px;
  margin: 0 auto;
}

.team_page{
	padding:20px 10px;

}

.logo > img {
    margin-left: -20px !important;
}

.team_page .about_data img{
  width:175px !important;
}

#menu li:last-child {
    margin-left: 10px;
    display: none;
}

.slide_form_left{
 margin:0 !important;
 padding:0 !important;
}
.slide_form_right{
  padding:0 !important;
}

.team .team_title{
    font-family: CHUNK_FIVE_REG !important;
}

.owl-wrapper-outer{
background-color: #fff185;
}

ul#menu li {
  margin-right: 5px;
 /* max-width: 120px;
  float: left;*/
}

.team_contact{
	margin-top:30px;
	margin-right: 15px;
}

.comment-body{
	
	padding-top: 17px;
}

#respond textarea {
  width: 100%;
 resize:none;
}
.teacher_content #respond textarea{
 max-width: 550px !important;
 /*width:initial !important;*/
}
.teacher_content img {
  width: 100% !important;
  height: auto !important;
}
.sl-slider-wrapper{width: 100%;}


.contact_me {
  text-align: center;
  margin-top: 40px !important;
}

.contact_me h2.contact-us {
  text-align: center;
  font-size: 38px;
}

.contact_me .contact-des {
  font-family: openSans;
  font-size: 18px;
  font-weight: 400px;
  color: #807f7f;
  text-align: center;
  width: 90% !important;
}

.contact_we {
  background-image: url('images/contact.png');
  margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  margin-top: 20px;
}

.contact_we form p {
  width: 100% !important;
  margin-bottom:0px;
  padding-bottom:5px;
}
.contact_we .col-lg-5 .email-420,.contact_we .col-lg-5 .wpcf7-text,.contact_we .col-lg-5 .wpcf7-textarea{
margin-bottom:5px !important;
}
.contact_h2{
	font-family: Opensans;
	font-size: 226%;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
}

@media screen and (max-width: 640px) {
		.contact .col-xs-5,.contact_we .col-xs-5{
			  width: 100% !important;
			 
		}
		.contact .col-xs-5{
			  height: 40px;
		}
		.contact .row{
			height: 40px;
		}
		.contact textarea{
			margin-bottom: 10px;
		}
		.contact,.contact_we{
			  height: 500px !important;
		}
		.contact_we  .social-image li a img{
			max-width: 15px;

		}
		.content p{
			font-size: 12px;  width: 100%;
		}
		.teacher_img{
			display: block;
			width: 100%;
			margin: 0px auto;
			text-align: center;
			}
			.social_div{width: 100%;}
		.teacher_dd{
				  width: 100%;
			}
			.social-image li a img{
				max-width: 20px;
			}
		.copyright-right{
			float: none;
			text-align: center;
		}
		
		.text_top_slider h2{
			line-height: 16px !important;
			font-size: 30px !important;
		}
		.owl-carousel .owl-wrapper-outer{

		}
		.owl-carousel {
		  padding: 20px 20px !important;
		}
		.pb_prev{
			left: 0px;
		}
		.pb_next{
			right: 0px;
		}
		.owl-wrapper .owl-item a{
			  margin-top: 0px !important;
			  background-size: cover;
			    font-size: 14px;
		}
		.footer_bottom{
			min-height: 85px;
			height: auto;
		}
		.about_us{
			display: none;
		}
}

@media screen and (max-width: 1180px) {
	.nav li a{
		padding-left: 10px !important;
		  padding-right: 10px !important;
	}
	.nav li:last-child a{
		font-size: 10px !important;
	}
}

@media screen and (max-width: 990px) {
	.nav li:last-child a{
		font-size: 10px !important;
	}
	.text_top_slider h2{
		  margin-right: -22px !important;
	}
	.about_us{
			min-height:60px !important;
			margin-top: 0.5px;
		}
		.about_us h2,.about_us p{
			color: #bd0509 !important;
			display: none;
		}
		.newsletter input[type="submit"]{
			float: none;

		}
	.nav li a{
		  font-size: 14px;
		padding-left: 5px !important;
		  padding-right: 5px !important;
	}
}
.tech_single .owl-wrapper .owl-item a{ font-size: 14px;  margin-right: 5px;color: #fffddb;}

.call_us_mobile{
	margin-right: 5px;
	  width: 123px;
	  float: right;
	  background-color: #f4e575 !important;
	  color: #b70004 !important;
	  padding-top: 12px !important;
	  padding-bottom: 12px !important;
	  height: auto;
	  border-radius: 20px !important;
	  padding-left: 12px;
	  padding-right: 12px;
	  /*display: none;*/
	  position: absolute;
	  right: 40px;
	  top: 30px;
	  z-index: 999;
	  /*display: block;*/
	  right: 0px;
	  top: 25px;
}
.call_us_mobile a{
	
	color: #b70004 !important;
	
}
iframe,embed{
	  max-width: 100% !important;	
}